main {
    h2 {
        text-align: center;
        margin: 0.5em;
    }

    p {
        text-align: center;
        font-size: 1.1rem;
    }

    .tipografiaInd {
        h1 {
            font-family:'Fredericka the Great', cursive;
            font-size: 5rem;
            margin-top: 50px;
            text-align: center;
        }

        h2 {
            font-family: 'Dancing Script', cursive;
            font-size: 2rem;
            font-weight: bold;
            
        }

        p {
            font-family: 'Dancing Script', cursive;
            font-size: 1.9rem;
        }
    }

    .bord {
        box-shadow: 5px 16px $color_fuente;
    }

    .main {
        grid-area: main
    }

    #galeria {
        @include galeria
    }
    .container{
        .card-altura{
            height: 200px;
            width: 150px;
            text-align: center;
        }
    }
}

.transf{
    transition: all 1s ease;
    
    &:hover{
        transform: scale(1.1, 1.1);
    }

}

.boxSha{
    box-shadow: 0 0 25px $color_fuente;

    &:hover{
        box-shadow: 0 0 5px $color_fuente,
                    0 0 25px  $color_fuente,
                    0 0 50px  $color_fuente,
                    0 0 100px  $color_fuente;
    }
}